name: CI

on: [push, pull_request]

jobs:
    unix-test:
        runs-on: ubuntu-latest
        strategy:
            max-parallel: 6
            matrix:
                emacs-version:
                    - 27.2
                    - snapshot

        steps:
            - uses: actions/checkout@v2

            - uses: purcell/setup-emacs@master
              with:
                  version: ${{ matrix.emacs-version }}

            - uses: conao3/setup-cask@master
              with:
                  version: 0.8.4

            - name: Install requirements
              run: |
                  echo "$HOME/.cask/bin" >> $GITHUB_PATH
                  echo "$HOME/bin" >> $GITHUB_PATH

                  sudo apt update
                  sudo apt install -y gnutls-bin gnupg2 dirmngr
                  sudo apt install -y texinfo libgif-dev libxpm-dev

            - name: Install needed rust stuff
              run: |
                  curl -sSf https://build.travis-ci.com/files/rustup-init.sh | sh -s -- --default-toolchain=stable -y
                  source $HOME/.cargo/env
                  rustup component add rustfmt-preview

            - name: rustic-doc prerequisites
              run: |
                   mkdir -p ~/.local/bin
                   mkdir -p ~/.local/share/emacs/rustic-doc/std/
                   cargo install fd-find
                   cargo install ripgrep
                   rustup component add rust-docs

            - name: Run tests
              run: |
                make test
