name: CI

on: [push, pull_request]

jobs:
    unix-test:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest]
                emacs-version:
                    - 27.2
                    # TODO: enable again when cask doesn't fail
                    # - snapshot

        steps:
            - uses: actions/checkout@v2

            - uses: purcell/setup-emacs@master
              with:
                  version: ${{ matrix.emacs-version }}

            - uses: conao3/setup-cask@master
              with:
                  version: 0.8.4

            - name: Install requirements
              run: |
                  echo "$HOME/.cask/bin" >> $GITHUB_PATH
                  echo "$HOME/bin" >> $GITHUB_PATH

                  sudo apt update
                  sudo apt install -y gnutls-bin gnupg2 dirmngr
                  sudo apt install -y texinfo libgif-dev libxpm-dev

            - name: Install needed rust stuff
              run: |
                  curl -sSf https://build.travis-ci.com/files/rustup-init.sh | sh -s -- --default-toolchain=stable -y
                  source $HOME/.cargo/env
                  rustup component add rustfmt-preview

            - name: rustic-doc prerequisites
              run: |
                   wget https://github.com/jgm/pandoc/releases/download/2.17.0.1/pandoc-2.17.0.1-1-amd64.deb
                   sudo dpkg -i pandoc-2.17.0.1-1-amd64.deb
                   mkdir -p ~/.local/bin
                   mkdir -p ~/.local/share/emacs/rustic-doc/std/
                   curl -sL https://github.com/sharkdp/fd/releases/download/v8.3.2/fd-v8.3.2-x86_64-unknown-linux-musl.tar.gz | tar xz --wildcards --strip-components=1 -C /usr/local/bin '*/fd'
                   curl -sL https://github.com/BurntSushi/ripgrep/releases/download/13.0.0/ripgrep-13.0.0-x86_64-unknown-linux-musl.tar.gz | tar xz --wildcards --strip-components=1 -C /usr/local/bin '*/rg'
                   rustup component add rust-docs

            - name: Run tests
              run: |
                make test
