name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  unix-test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        emacs-version:
          - 27.2
          - 28.1
          - 29.3
          - 29.4
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@v2
        with:
          tool: just@1.16.0
      - uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs-version }}

      - uses: cask/setup-cask@v1
        with:
          version: 0.9.0

      - name: Install requirements
        run: |
          echo "$HOME/.cask/bin" >> $GITHUB_PATH
          echo "$HOME/bin" >> $GITHUB_PATH

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.76.0
          components: clippy, rustfmt

      - name: Run tests
        run: |
          just build
          just test
